@model IEnumerable<FOMSDTO.StudentGradeDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurriculumId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPassed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurriculumId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Semester)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
                <td>
                    @(item.IsPassed == 1 ? "Pass" : "Not Pass")
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { userId = item.UserId, curriculumId = item.CurriculumId }) |
                    @Html.ActionLink("Details", "Details", new { userId = item.UserId, curriculumId = item.CurriculumId }) |
                    @Html.ActionLink("Delete", "Delete", new { userId = item.UserId, curriculumId = item.CurriculumId })
                </td>
            </tr>
        }
    </tbody>
</table>
