@model IEnumerable<FOMSDTO.CohortCurriculumDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cohort)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurriculumId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cohort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurriculumId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { cohort=item.Cohort }) |
                    @Html.ActionLink("Details", "Details", new { cohort = item.Cohort }) |
                    @Html.ActionLink("Delete", "Delete", new { cohort = item.Cohort })
            </td>
        </tr>
}
    </tbody>
</table>
